/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #FFCF43;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    background-color: white;
  }
}
header .header_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 500px) {
  header .header_container {
    background-color: #FFCF43;
  }
}
header .header_container h1 {
  padding: 10px;
  padding-top: 30px;
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  header .header_container h1 {
    font-size: 1.9rem;
    margin-left: 12%;
  }
}
@media (min-width:800px) {
  header .header_container h1 {
    font-size: 1.5rem;
  }
}
header .header_container .img_logo {
  width: 150px;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-left: 15%;
  font-size: large;
  background-color: #FFCF43;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
}
header a {
  padding: 20px;
  text-decoration: none;
  align-content: center;
}
<<<<<<< HEAD
@media (max-width: 500px) {
  header a {
    margin-right: 15%;
  }
}
.container_about {
  width: 800px;
  margin-left: 20%;
  margin-right: 30%;
}
@media (max-width: 500px) {
  .container_about {
    width: 500px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (min-width:800px) {
  .container_about {
    width: 800px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.top_container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .top_container {
    display: flex;
    flex-direction: column;
  }
}
.top_container .top_container1 {
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}
.top_container .top_container1 .icon {
  width: 70px;
  height: 70px;
}
@media (max-width: 500px) {
  .top_container .top_container1 .icon {
    margin-left: 20px;
  }
}
.top_container .top_container1 img {
  padding: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.top_container .top_container1 .name {
  font-family: 'Chelsea Market', cursive;
  color: black;
}
.top_container .top_container1 p {
  color: red;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .top_container .top_container1 p {
    margin-right: 10px;
  }
}
.middle_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
=======
.footer {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #FFCF43;
>>>>>>> parent of 4141000... Desktop and mobile version of About_us completed
}
@media (max-width: 500px) {
  .footer {
    width: 100%;
  }
}
<<<<<<< HEAD
.middle_container .middle_container1 {
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}
.middle_container .middle_container1 img {
  padding: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.middle_container .middle_container1 .icon {
  width: 70px;
  height: 70px;
}
@media (max-width: 500px) {
  .middle_container .middle_container1 .icon {
    margin-left: 20px;
  }
}
.middle_container .middle_container1 .name {
  font-family: 'Chelsea Market', cursive;
  color: black;
}
.middle_container .middle_container1 p {
  color: red;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .middle_container .middle_container1 p {
    margin-right: 10px;
  }
}
button {
  text-align: center;
  margin-left: 45%;
  padding: 20px;
  border-radius: 12px;
}
.btn {
  padding-bottom: 20px;
}
header .top {
  padding-bottom: 20px;
}
header .top h1 {
  text-align: center;
  color: black;
  padding: 20px;
  background-color: #FFCF43;
}
=======
>>>>>>> parent of 4141000... Desktop and mobile version of About_us completed
.container {
  width: 100%;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
@media (min-width:800px) {
  .container {
    width: 100%;
  }
}
@media (min-width:1000px) {
  .container {
    width: 100%;
  }
}
.container .img_container .round_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: gold;
  padding: 15px;
}
@media (max-width: 500px) {
  .container .img_container .round_text {
    top: 75%;
    left: 50%;
  }
}
@media (min-width:800px) {
  .container .img_container .round_text {
    top: 45%;
    left: 50%;
  }
}
@media (min-width:1000px) {
  .container .img_container .round_text {
    top: 60%;
    left: 50%;
  }
}
.container .img_container .round_text h4 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .img_container .round_text h4 {
    font-size: 1rem;
    font-weight: 1000;
  }
}
@media (min-width:800px) {
  .container .img_container .round_text h4 {
    font-size: 1.5rem;
  }
}
.container .img_container .center_text {
  text-align: center;
}
.container .img_container img {
  padding-top: 20px;
  opacity: 25%;
}
@media (max-width: 500px) {
  .container .img_container img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.container .top_container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .container .top_container {
    display: flex;
    flex-direction: column;
  }
}
.container .top_container .text_container {
  padding-left: 10px;
  color: #3366FF;
}
@media (max-width: 500px) {
  .container .top_container .text_container {
    padding-top: 10px;
  }
}
