.flex-row(){
    display: flex;
    flex-direction: row;
}
.flex-column(){
    display: flex;
    flex-direction: column;
}
.center(){
    text-align: center;
}
.padding(@num){
    padding: @num;

}
.text_position(@num1,@num2){
    top: @num1;
    left:@num2;
}