header{
    .flex-row();
   background-color:@theme-color;
    width:100%;
    @media @mobile{
        background-color: white;
    }
    .header_container{
        .flex-row();
        width: 100%;
        @media @mobile{
            background-color:@theme-color;
        }
        h1{

            padding: 10px;
            padding-top: 30px;
            font-size: 1.7rem;
            @media @mobile{
                font-size: 1.9rem;
              margin-left: 12%;
            }
            @media @tablet{
                font-size: 1.5rem;
                
                
                
            }
        }
        .img_logo{
            width:150px;
            
    
    }
}
@media @mobile {
    .flex-column();

}
  
    
    nav{
        .flex-row();
        padding-top: 20px;
        margin-left: 15%;
        font-size: large;
        background-color:@theme-color;
        @media @mobile{
            .flex-column();
            
            align-items: center;
            background-color: white;
           
        }
    }
    a{
        
        padding: 20px;
        text-decoration: none;
        align-content: center;
        @media @mobile{
            margin-right: 15%;
        }
       
        
        
    }
}